In [2]:
import numpy as np

In [3]:
import pandas as pd

In [4]:
data=pd.read_csv(r"C:\Users\SURYA\Downloads\imdb_anime (1).csv")

In [5]:
data

,Title,Genre,User Rating,Number of Votes,Runtime,Year,Summary,Stars,Certificate,Metascore,Gross,Episode,Episode Title
0,One Piece,"Animation, Action, Adventure",8.9,"187,689",24 min,(1999– ),Follows the adventures of Monkey D. Luffy and ...,"Mayumi Tanaka,Laurent Vernin,Akemi Okamura,Ton...",TV-14,NaN,187689,0,NaN
1,Teenage Mutant Ninja Turtles: Mutant Mayhem,"Animation, Action, Adventure",7.4,"28,895",99 min,(2023),The film follows the Turtle brothers as they w...,NaN,PG,74,28895,0,NaN
2,The Super Mario Bros. Movie,"Animation, Adventure, Comedy",7.1,"189,108",92 min,(2023),A plumber named Mario travels through an under...,NaN,PG,46,189108,0,NaN
3,Attack on Titan,"Animation, Action, Adventure",9.1,"434,457",24 min,(2013–2023),After his hometown is destroyed and his mother...,"Josh Grelle,Bryce Papenbrook,Yûki Kaji,Yui Ish...",TV-MA,NaN,434457,0,NaN
4,Jujutsu Kaisen,"Animation, Action, Adventure",8.5,"82,909",24 min,(2020– ),A boy swallows a cursed talisman - the finger ...,"Junya Enoki,Yûichi Nakamura,Adam McArthur,Yuma...",TV-MA,NaN,82909,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
45712,Demon Slayer: Kimetsu no Yaiba,"Animation, Action, Adventure",7.3,"3,432",24 min,(2019– ),Tanjiro heads to his next location southeast; ...,NaN,TV-14,NaN,3432,1,Tsuzumi Mansion
45713,Demon Slayer: Kimetsu no Yaiba,"Animation, Action, Adventure",7.9,"3,309",24 min,(2019– ),Tanjiro gets separated from Zenitsu when he en...,NaN,TV-MA,NaN,3309,1,"The Boar Bares Its Fangs, Zenitsu Sleeps"
45714,One Piece,"Animation, Action, Adventure",9.4,"2,743",NaN,(1999– ),Carrot tells Sanji the news about Pedro. Germa...,"Mayumi Tanaka,Tom Henry,Masako Katsuki,Mami Ko...",TV-14,NaN,2743,1,Time for Farewell! Pudding's One Last Request!
45715,Marmalade Boy,"Animation, Comedy, Drama",NaN,NaN,24 min,(1994–2005),NaN,"Ogie Banks,Deborah Sale Butler,John DeMita,Ric...",Not Rated,NaN,NaN,1,Hijiri naru yoru (ivu nanoni hitori bocchi...)
45716,Cinderella Nine,"Animation, Drama, Sport",6.0,6,24 min,(2019– ),On her very first day at Satogahama Municipal ...,NaN,NaN,NaN,6,1,Play Ball!

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45717 entries, 0 to 45716
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Title            45717 non-null  object
 1   Genre            45717 non-null  object
 2   User Rating      25009 non-null  object
 3   Number of Votes  25009 non-null  object
 4   Runtime          32549 non-null  object
 5   Year             45591 non-null  object
 6   Summary          23547 non-null  object
 7   Stars            13676 non-null  object
 8   Certificate      28694 non-null  object
 9   Metascore        341 non-null    object
 10  Gross            25009 non-null  object
 11  Episode          45717 non-null  object
 12  Episode Title    34910 non-null  object
dtypes: object(13)
memory usage: 4.5+ MB

In [27]:
datac=data.copy()

In [28]:
datac.fillna({"Title":"no title","Genre":"no genre","User Rating":0,"Number of Votes":0,"Runtime":"10","Year":0,"Summary":"no summary","Stars":"no stars","Certificate":"no certificate","Metascore":0,"Gross":10,"Episode":0,"Episode Title":"no"},inplace=True)
datac.head(1)

,Title,Genre,User Rating,Number of Votes,Runtime,Year,Summary,Stars,Certificate,Metascore,Gross,Episode,Episode Title
0,One Piece,"Animation, Action, Adventure",8.9,"187,689",24 min,(1999– ),Follows the adventures of Monkey D. Luffy and ...,"Mayumi Tanaka,Laurent Vernin,Akemi Okamura,Ton...",TV-14,0,187689,0,no

In [30]:
datac.replace({"User Rating":{"User Rating":0},"Number of Votes":{"Number of Votes":0},"Runtime":{"Runtime":"10"},"Metascore":{"Metascore":0},"Gross":{"Gross":10},"Episode":{"Episode":0}},inplace=True)
datac=datac.astype({"User Rating":float,"Metascore":int,"Gross":int,"Episode":int,"Year":str})

In [31]:
def func(x):
    return x.replace(" min","")
def f(x):
    return int(x)
def f1(x):
    return x.replace(",","")
datac["Runtime"]=datac["Runtime"].map(func).map(f1).map(f)
def func(x):
    return x.replace(" min","")
def f(x):
    return int(x)
def f1(x):
    return x.replace(",","")
def f2(x):
    return str(x)
datac["Number of Votes"]=datac["Number of Votes"].map(f2).map(func).map(f1).map(f)

In [32]:
datac.head()

,Title,Genre,User Rating,Number of Votes,Runtime,Year,Summary,Stars,Certificate,Metascore,Gross,Episode,Episode Title
0,One Piece,"Animation, Action, Adventure",8.9,187689,24,(1999– ),Follows the adventures of Monkey D. Luffy and ...,"Mayumi Tanaka,Laurent Vernin,Akemi Okamura,Ton...",TV-14,0,187689,0,no
1,Teenage Mutant Ninja Turtles: Mutant Mayhem,"Animation, Action, Adventure",7.4,28895,99,(2023),The film follows the Turtle brothers as they w...,no stars,PG,74,28895,0,no
2,The Super Mario Bros. Movie,"Animation, Adventure, Comedy",7.1,189108,92,(2023),A plumber named Mario travels through an under...,no stars,PG,46,189108,0,no
3,Attack on Titan,"Animation, Action, Adventure",9.1,434457,24,(2013–2023),After his hometown is destroyed and his mother...,"Josh Grelle,Bryce Papenbrook,Yûki Kaji,Yui Ish...",TV-MA,0,434457,0,no
4,Jujutsu Kaisen,"Animation, Action, Adventure",8.5,82909,24,(2020– ),A boy swallows a cursed talisman - the finger ...,"Junya Enoki,Yûichi Nakamura,Adam McArthur,Yuma...",TV-MA,0,82909,0,no

In [33]:
datac.shape

(45717, 13)

In [34]:
datac.describe()

,User Rating,Number of Votes,Runtime,Metascore,Gross,Episode
count,45717.000000,4.571700e+04,45717.000000,45717.000000,4.571700e+04,45717.000000
mean,3.948658,1.632192e+03,22.455235,0.499595,1.636722e+03,0.763589
std,3.669057,2.347930e+04,24.581428,5.920916,2.347899e+04,0.424882
min,0.000000,0.000000e+00,1.000000,0.000000,5.000000e+00,0.000000
25%,0.000000,0.000000e+00,10.000000,0.000000,1.000000e+01,1.000000
50%,5.900000,9.000000e+00,23.000000,0.000000,1.000000e+01,1.000000
75%,7.400000,1.040000e+02,24.000000,0.000000,1.040000e+02,1.000000
max,9.900000,1.162284e+06,1271.000000,96.000000,1.162284e+06,1.000000

In [35]:
datac.head()

,Title,Genre,User Rating,Number of Votes,Runtime,Year,Summary,Stars,Certificate,Metascore,Gross,Episode,Episode Title
0,One Piece,"Animation, Action, Adventure",8.9,187689,24,(1999– ),Follows the adventures of Monkey D. Luffy and ...,"Mayumi Tanaka,Laurent Vernin,Akemi Okamura,Ton...",TV-14,0,187689,0,no
1,Teenage Mutant Ninja Turtles: Mutant Mayhem,"Animation, Action, Adventure",7.4,28895,99,(2023),The film follows the Turtle brothers as they w...,no stars,PG,74,28895,0,no
2,The Super Mario Bros. Movie,"Animation, Adventure, Comedy",7.1,189108,92,(2023),A plumber named Mario travels through an under...,no stars,PG,46,189108,0,no
3,Attack on Titan,"Animation, Action, Adventure",9.1,434457,24,(2013–2023),After his hometown is destroyed and his mother...,"Josh Grelle,Bryce Papenbrook,Yûki Kaji,Yui Ish...",TV-MA,0,434457,0,no
4,Jujutsu Kaisen,"Animation, Action, Adventure",8.5,82909,24,(2020– ),A boy swallows a cursed talisman - the finger ...,"Junya Enoki,Yûichi Nakamura,Adam McArthur,Yuma...",TV-MA,0,82909,0,no

In [36]:
datac.tail()

,Title,Genre,User Rating,Number of Votes,Runtime,Year,Summary,Stars,Certificate,Metascore,Gross,Episode,Episode Title
45712,Demon Slayer: Kimetsu no Yaiba,"Animation, Action, Adventure",7.3,3432,24,(2019– ),Tanjiro heads to his next location southeast; ...,no stars,TV-14,0,3432,1,Tsuzumi Mansion
45713,Demon Slayer: Kimetsu no Yaiba,"Animation, Action, Adventure",7.9,3309,24,(2019– ),Tanjiro gets separated from Zenitsu when he en...,no stars,TV-MA,0,3309,1,"The Boar Bares Its Fangs, Zenitsu Sleeps"
45714,One Piece,"Animation, Action, Adventure",9.4,2743,10,(1999– ),Carrot tells Sanji the news about Pedro. Germa...,"Mayumi Tanaka,Tom Henry,Masako Katsuki,Mami Ko...",TV-14,0,2743,1,Time for Farewell! Pudding's One Last Request!
45715,Marmalade Boy,"Animation, Comedy, Drama",0.0,0,24,(1994–2005),no summary,"Ogie Banks,Deborah Sale Butler,John DeMita,Ric...",Not Rated,0,10,1,Hijiri naru yoru (ivu nanoni hitori bocchi...)
45716,Cinderella Nine,"Animation, Drama, Sport",6.0,6,24,(2019– ),On her very first day at Satogahama Municipal ...,no stars,no certificate,0,6,1,Play Ball!

In [10]:
#1). How many unique anime are there?

In [37]:
a=datac["Title"].unique().shape
print(a[0],"unique animes  are there")

9851 unique animes  are there

In [14]:
#2). Which anime has the highest rating?

In [38]:
b=datac["User Rating"].max()
a=datac.loc[datac["User Rating"]==b,["Title","User Rating"]]
a

                               Title  User Rating
13656                    Idaten Jump          9.9
17874                   Vinland Saga          9.9
22753                Attack on Titan          9.9
34677                Hunter x Hunter          9.9
39614  Legend of the Galactic Heroes          9.9
45689                Attack on Titan          9.9

In [18]:
data.loc[data["Title"]==data["Title"].min(),["User Rating","Genre"]]

      User Rating                     Genre
5229          6.0  Animation, Short, Comedy
35933         7.2  Animation, Short, Comedy
35934         7.1  Animation, Short, Comedy
35935         6.2  Animation, Short, Comedy
35936         6.0  Animation, Short, Comedy
35937         5.8  Animation, Short, Comedy
35938         6.2  Animation, Short, Comedy
35939         6.2  Animation, Short, Comedy
35940         6.8  Animation, Short, Comedy
35941         7.3  Animation, Short, Comedy

In [22]:
#3).Which anime has a rating between 7.0 to 9.0?

In [41]:
a=datac.loc[(datac["User Rating"]>=7.0) & (datac["User Rating"]<=9),["Title"]]
a

                                             Title
0                                        One Piece
1      Teenage Mutant Ninja Turtles: Mutant Mayhem
2                      The Super Mario Bros. Movie
4                                   Jujutsu Kaisen
6                   Demon Slayer: Kimetsu no Yaiba
...                                            ...
45709               Demon Slayer: Kimetsu no Yaiba
45710               Demon Slayer: Kimetsu no Yaiba
45711               Demon Slayer: Kimetsu no Yaiba
45712               Demon Slayer: Kimetsu no Yaiba
45713               Demon Slayer: Kimetsu no Yaiba

[15655 rows x 1 columns]

In [40]:
#4). Which anime has the highest and lowest runtime?

In [42]:
a=datac["Runtime"]
print("these has highest runtime")
b=a.max()
high=datac.loc[a==b,["Title"]]
print(high)
print()
print("*"*40)
print("these has lowest runtime")
c=a.min()
low=datac.loc[a==c,["Title"]]
print(low)

these has highest runtime
                           Title
2798  The Wonderful Wizard of Oz

****************************************
these has lowest runtime
                            Title
2809                   Ani*Kuri15
3588                Henkei Shoujo
3708   Gloomy the Naughty Grizzly
4548                      Usavich
4792                 Tokino Kousa
...                           ...
23772  Gloomy the Naughty Grizzly
23773  Gloomy the Naughty Grizzly
23774  Gloomy the Naughty Grizzly
23775  Gloomy the Naughty Grizzly
33433                  Ani*Kuri15

[149 rows x 1 columns]

In [ ]:
#5). What is the runtime difference between one Piece and the super mario bros movie?

In [43]:
op=datac.loc[datac["Title"]=="One Piece",["Runtime"]].sum()
smbm=datac.loc[datac["Title"]=="The Super Mario Bros. Movie",["Runtime"]].sum()
print(op-smbm,"is the run time difference between ONE PIECE and SUPER MARIO BROS MOVIE")

Runtime    11249
dtype: int64 is the run time difference between ONE PIECE and SUPER MARIO BROS MOVIE

In [37]:
#6). Which is the oldest anime?

In [44]:
def func(x):
    return x.replace("(","")
def f1(x):
     return x.replace(")","")
def f(x):
    return str(x)
a=datac["Year"].map(f).map(f1).map(func)
#a=pd.to_datetime(datac["Year"])

In [45]:
#7>what are the animes released in year 2023?

def sub(s2):
    s1="2023"
    if(len(s2)<=6):
        if s1 in s2:
            return True
        return False
    return False
a=datac["Year"].map(sub)
b=a.values
c=datac[b]
c[["Title"]]

                                             Title
1      Teenage Mutant Ninja Turtles: Mutant Mayhem
2                      The Super Mario Bros. Movie
13                           The Boy and the Heron
21                    Ruby Gillman, Teenage Kraken
42                     Resident Evil: Death Island
...                                            ...
7965                                 Yomawari Neko
8558          Girls und Panzer das Finale: Part IV
8605                        Jinzô Mahô Shôjo Kaini
8840                             The Dog & The Boy
10314                           The Floating World

[105 rows x 1 columns]

In [46]:
c

,Title,Genre,User Rating,Number of Votes,Runtime,Year,Summary,Stars,Certificate,Metascore,Gross,Episode,Episode Title
1,Teenage Mutant Ninja Turtles: Mutant Mayhem,"Animation, Action, Adventure",7.4,28895,99,(2023),The film follows the Turtle brothers as they w...,no stars,PG,74,28895,0,no
2,The Super Mario Bros. Movie,"Animation, Adventure, Comedy",7.1,189108,92,(2023),A plumber named Mario travels through an under...,no stars,PG,46,189108,0,no
13,The Boy and the Heron,"Animation, Adventure, Drama",7.6,829,124,(2023),"Through encounters with his friends and uncle,...",no stars,no certificate,0,829,0,no
21,"Ruby Gillman, Teenage Kraken","Animation, Action, Adventure",5.7,6046,91,(2023),A shy adolescent learns that she comes from a ...,no stars,PG,50,6046,0,no
42,Resident Evil: Death Island,"Animation, Action, Adventure",5.7,5758,87,(2023),A t-virus outbreak in San Francisco leads to A...,no stars,R,0,5758,0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7965,Yomawari Neko,Animation,0.0,0,10,(2023),no summary,"Takayuki Yamada,Atsumi Tanezaki,Ryohei Kimura,...",no certificate,0,10,0,no
8558,Girls und Panzer das Finale: Part IV,Animation,0.0,0,10,(2023),no summary,no stars,no certificate,0,10,0,no
8605,Jinzô Mahô Shôjo Kaini,"Animation, Short, Action",0.0,0,10,(2023),"The mysterious bond between a woman named Mai,...","Yû Chitose,Kôsuke Honda,Haruka Kudô,Mao Mita",no certificate,0,10,0,no
8840,The Dog & The Boy,"Animation, Short",3.2,15,4,(2023),no summary,no stars,no certificate,0,15,0,no
10314,The Floating World,"Short, Animation",0.0,0,15,(2023),no summary,no stars,no certificate,0,10,0,no

In [47]:
#8>what is the average user rating of all the animes whose genre is action.


def sub(s2):
    s1="Action"
    if s1 in s2:
        return True
    return False

a=datac["Genre"].map(sub)
b=a.values
c=datac[b]
c["User Rating"].mean()

5.439916306053545

In [48]:
#9>which anime has the least gross price?
least=datac["Gross"].min()
a=datac.loc[datac["Gross"]==least,["Title","Gross"]]
print("THESE ANIMES HAS THE LEAST GROSS")
a

THESE ANIMES HAS THE LEAST GROSS

                                                   Title  Gross
3233                                          Show Time!      5
5620                                   The Peasant Noble      5
5714   Meitantei Conan Magic File 4: Osaka okonomiyak...      5
6142   Fist of the North Star Legennd of Heroes - Spe...      5
6236                                     Shakotan Boogie      5
...                                                  ...    ...
45600                                    Girl Beats Boys      5
45601                                    Girl Beats Boys      5
45602                                    Girl Beats Boys      5
45606                                    Girl Beats Boys      5
45608                                    Girl Beats Boys      5

[168 rows x 2 columns]

In [49]:
#10>which anime has the highest gross price?
highest=datac["Gross"].max()
a=datac.loc[datac["Gross"]==highest,["Title","Gross"]]
print("THESE ANIMES HAS THE HIGHEST GROSS")
a

THESE ANIMES HAS THE HIGHEST GROSS

      Title    Gross
47   WALL·E  1162284
888  WALL·E  1162284

In [50]:
#11>how many animes belongs to PG certificate?
cer=datac.loc[datac["Certificate"]=="PG",["Title"]].shape
print(cer[0],"belongs to PG certificate")

425 belongs to PG certificate

In [51]:
#12>what is the average no.of votes in your dataset.
datac["Number of Votes"].mean()

1632.1920510969662

In [52]:
datac

,Title,Genre,User Rating,Number of Votes,Runtime,Year,Summary,Stars,Certificate,Metascore,Gross,Episode,Episode Title
0,One Piece,"Animation, Action, Adventure",8.9,187689,24,(1999– ),Follows the adventures of Monkey D. Luffy and ...,"Mayumi Tanaka,Laurent Vernin,Akemi Okamura,Ton...",TV-14,0,187689,0,no
1,Teenage Mutant Ninja Turtles: Mutant Mayhem,"Animation, Action, Adventure",7.4,28895,99,(2023),The film follows the Turtle brothers as they w...,no stars,PG,74,28895,0,no
2,The Super Mario Bros. Movie,"Animation, Adventure, Comedy",7.1,189108,92,(2023),A plumber named Mario travels through an under...,no stars,PG,46,189108,0,no
3,Attack on Titan,"Animation, Action, Adventure",9.1,434457,24,(2013–2023),After his hometown is destroyed and his mother...,"Josh Grelle,Bryce Papenbrook,Yûki Kaji,Yui Ish...",TV-MA,0,434457,0,no
4,Jujutsu Kaisen,"Animation, Action, Adventure",8.5,82909,24,(2020– ),A boy swallows a cursed talisman - the finger ...,"Junya Enoki,Yûichi Nakamura,Adam McArthur,Yuma...",TV-MA,0,82909,0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...
45712,Demon Slayer: Kimetsu no Yaiba,"Animation, Action, Adventure",7.3,3432,24,(2019– ),Tanjiro heads to his next location southeast; ...,no stars,TV-14,0,3432,1,Tsuzumi Mansion
45713,Demon Slayer: Kimetsu no Yaiba,"Animation, Action, Adventure",7.9,3309,24,(2019– ),Tanjiro gets separated from Zenitsu when he en...,no stars,TV-MA,0,3309,1,"The Boar Bares Its Fangs, Zenitsu Sleeps"
45714,One Piece,"Animation, Action, Adventure",9.4,2743,10,(1999– ),Carrot tells Sanji the news about Pedro. Germa...,"Mayumi Tanaka,Tom Henry,Masako Katsuki,Mami Ko...",TV-14,0,2743,1,Time for Farewell! Pudding's One Last Request!
45715,Marmalade Boy,"Animation, Comedy, Drama",0.0,0,24,(1994–2005),no summary,"Ogie Banks,Deborah Sale Butler,John DeMita,Ric...",Not Rated,0,10,1,Hijiri naru yoru (ivu nanoni hitori bocchi...)
45716,Cinderella Nine,"Animation, Drama, Sport",6.0,6,24,(2019– ),On her very first day at Satogahama Municipal ...,no stars,no certificate,0,6,1,Play Ball!